<div id="up-to-top" class="row">
  <div class="small-12 columns" style="text-align: right;">
    <a class="iconfont" href="#top-of-page">&#xf108;</a>
  </div>
</div>

<footer id="footer-content" class="bg-grau">
  <div id="footer">
    <div class="row">

      <div class="small-12 medium-6 columns">
        <h5 class="shadow-black">III Simpósio de Automação e Sistemas</h5>

        <p class="shadow-black">
          Universidade Federal do Rio Grande do Norte — UFRN.
        </p>
      </div>

      <div class="small-12 medium-6 columns">
        <h5 class="shadow-black">Navegação</h5>

        <ul class="no-bullet shadow-black">
          <li><a href="{{ site.baseurl }}/">Início</a></li>
          <li><a href="{{ site.baseurl }}/sobre/">Sobre</a></li>
          <li><a href="{{ site.baseurl }}/programacao/">Programação</a></li>
          <li><a href="{{ site.baseurl }}/inscricoes/">Inscrições</a></li>
          <li><a href="{{ site.baseurl }}/contact/">Contato</a></li>
        </ul>
      </div>

    </div>
  </div>

  <div id="subfooter">
    <nav class="row">
      <section id="subfooter-left" class="small-12 columns credits">
        III Simpósio de Automação e Sistemas · UFRN
      </section>
    </nav>
  </div>
</footer>